@import url('base/reset.css');
@import url('base/variables.css');
@import url('base/fonts.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
  scroll-behavior: smooth;
  max-width: 100vw;
  max-height: 100vh;
}

html,
body {
  scroll-behavior: smooth;
  font-family: var(--font-tccc-unity-text-regular);
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--white);
  background: var(--black);
  transition: var(--default-transition);
}

a {
  color: inherit;
  text-decoration: none;
}
