.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  width: 100%;
  max-width: var(--max-content-width);
  height: 100%;
  padding: 0 20px;
}
