.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  max-width: var(--max-content-width);
  height: 100%;
  padding: 0 20px;
}

.menu {
  flex-shrink: 0;
}

.button {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 8px 16px;
  border: none;
  font-size: 16px;
  font-weight: normal;
  color: var(--main-color-02);
  text-align: center;
  appearance: none;
  background: transparent;
  background-color: var(--main-color-11);
}
