@font-face {
  font-family: 'TCCC Unity Text';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/tccc-unity-text/TCCCUnityTextRegular.woff2') format('woff2'),
    url('/fonts/tccc-unity-text/TCCCUnityTextRegular.woff') format('woff');
}

@font-face {
  font-family: 'TCCC Unity Text';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/tccc-unity-text/TCCCUnityTextBold.woff2') format('woff2'),
    url('/fonts/tccc-unity-text/TCCCUnityTextBold.woff') format('woff');
}

@font-face {
  font-family: 'TCCC Unity Headline';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/tccc-unity-headline/TCCCUnityHeadlineBold.woff2') format('woff2'),
    url('/fonts/tccc-unity-headline/TCCCUnityHeadlineBold.woff') format('woff');
}

:root {
  --font-tccc-unity-text-regular: 'TCCC Unity Text';
  --font-tccc-unity-text-bold: 'TCCC Unity Text';
  --font-tccc-unity-headline-bold: 'TCCC Unity Headline';
}
